img, object, video {
    max-width: 100%;
    }

.portletItem img, ul.configlets img {
    width: auto !important; /* fix some of the icons  from the img, object, video auto scaling*/
    }

#portal-globalnav { 
    clear: both;
    }

div#footer, #portal-colophon {
    display:block;
    clear: both;
}

#portal-searchbox {
    margin-top: 2.3em;
}

  #logo  { 
       margin-left: -95%;
    }

button.navigation-button { 
    width: 98%; 
    margin:0px 1%; 
    height: 2.4em; 
    font-size: 1.3em; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #999999;
    }
    
@media screen and (max-width: 610px) {
    #portal-logo {
        width: 100%;
    }
    
    #logo {
        width: 22.75% !important;
    }
}